body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgba(255, 121, 11, 0.3),rgba(0,88,156,0.7)), url(./components/img/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
  min-height:100vh;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mvision{
  border-radius: 5em;
  width: 2em;
  margin: 2em;
}

footer {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.contact{
  flex:1;
  text-align: right;
  display: flex;
}
.contact ul{
  margin-bottom: 0;
  padding-left: 0;
}
.contact ul li{
  list-style: none;
  display:inline-block;
  margin-right: 18px;
}
.contact ul li a{
  color:#fff;
  text-decoration: none;
  font-size:1.125em ;
  display: block;
  padding: 0 10px;
  transition: 0.2s;
}
.contact ul li:hover a{
  filter: blur(2px);
}
.contact ul li a:hover{
  transform: translateY(-3px) scale(1.05);
  filter: none;
}
.mapa{
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  padding-bottom: 5%;
}