body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgba(255, 121, 11, 0.3),rgba(0,88,156,0.7)), url(./components/img/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
  min-height:100vh;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mvision{
  border-radius: 5em;
  width: 2em;
  margin: 2em;
}

